[submodule "app/Plugins/AuditTrail"]
	path = app/Plugins/AuditTrail
	url = git@github.com:ArseniiRudenko/AuditTrail.git
[submodule "app/Plugins/GiteaListener"]
	path = app/Plugins/GiteaListener
	url = git@github.com:ArseniiRudenko/GiteaListener.git
[submodule "app/Plugins/LeanGroups"]
	path = app/Plugins/LeanGroups
	url = git@github.com:ArseniiRudenko/LeanGroups.git
